<html xmlns:py="http://genshi.edgewall.org/"
xmlns:xi="http://www.w3.org/2001/XInclude"
xmlns:i18n="http://genshi.edgewall.org/i18n"
py:strip=""
>
<xi:include href="../_util.html" />

<div id="dataset" class="dataset">
  <div class="tabbable tabs-left dataset-edit-tabs">
    <ul class="nav nav-tabs">
      <!-- One button for each fieldset -->
      <li class="active"><a data-toggle="tab" href="#transformation-deployment">Transformation Deployment</a></li>
      <li><a data-toggle="tab" href="#execution-log">Execution Log</a></li>
      <li><a data-toggle="tab" href="#launch-transformation">Launch Transformation</a></li>
    </ul>
    <form class="tab-content form-horizontal" id="dataset-edit"
    method="post" enctype="multipart/form-data"
    action="/dataset/extractor/${c.pkg.name}/transformation_submit">
    
    <fieldset class="tab-pane" id="transformation-deployment">

      <div class="control-group">
        <label class="control-label">Crontab</label>
        <div class="input-prepend">
          <label class="control-label">M</label>
          <input size="2" name="minute" type="text" class="js-url-input" value="${c.minute}" />

          <label class="control-label">H</label>
          <input size="2" name="hour" type="text" class="js-url-input" value="${c.hour}" />

          <label class="control-label">D</label>
          <input size="2" name="day_of_week" type="text" class="js-url-input" value="${c.day_of_week}" />
        </div>
      </div>

      <py:if test="c.data">      
        <div class="control-group">
          <label class="control-label">File Name</label>
          <div class="controls">
            <a href="/dataset/extractor/${c.pkg.name}/transformation_download" target="_blank">${c.filename}</a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Time Stamp</label>
          <div class="controls">
            ${c.timestamp}          
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Enabled</label>
          <div class="controls">
            <py:choose>
              <input py:when="c.enabled" type="checkbox" name="enabled" checked="true" />
              <input py:otherwise="" type="checkbox" name="enabled" />
            </py:choose>
          </div>
        </div>
      </py:if>

      <input type="file" name="transformation_code" />
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
        <input id="cancel" class="btn href-action" name="button" type="reset" value="Cancel" action="/dataset/${c.pkg.name}" />
        <p><b>Warning!</b> Transformation will be redeployed after submission. This could
          cause previously extracted data removal. Check transformation behaviour.</p>
      </div>

      <py:if test="c.error">
        <b>${c.error_message}</b>
      </py:if>
    </fieldset>

    <fieldset class="tab-pane" id="execution-log">
      <py:if test="c.data">
        <h3>Extractions</h3>
        <table class="table table-striped table-bordered table-condensed">
          <tbody>
            <tr>
            <th scope="col">Start Date</th><th scope="col">End Date</th><th scope="col">Status (Click to show)</th>
            </tr>
            <py:for each="extraction in c.extractions">
              <tr>
                <td>${extraction.start_date.strftime("%h %d, %Y, %H:%M:%S")}</td>
                <py:choose>
                  <td py:when="extraction.end_date is not None">${extraction.end_date.strftime("%h %d, %Y, %H:%M:%S")}</td>
                  <td py:otherwise=""></td>
                </py:choose>
                <td><a href="/dataset/extractor/${c.pkg.name}/show_message/${extraction.id}">${extraction.transformation_status}</a></td>
              </tr>
            </py:for>
          </tbody>
        </table>
      </py:if>
    </fieldset>

    <fieldset class="tab-pane" id="launch-transformation">
      <py:if test="c.data">
        <h3>For testing purposes only</h3>
          <input class="btn btn-primary href-action" type="button" name="submit" value="Launch transformation" action="/dataset/extractor/${c.pkg.name}/transformation_launch"/>
      </py:if>
    </fieldset>
  </form>
  </div>
</div>
</html>
