<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div id="dataset" class="dataset">
    <h3>Transformation Configuration</h3>
    <div id="dataset-information">
      <form class="form-horizontal" name="transformation_submission" method="post"
      action="/dataset/extractor/${c.pkg.name}/transformation_submit"
      enctype="multipart/form-data">

      <div class="control-group">
        <label class="control-label">Main Class</label>
        <div class="controls">
          <input class="js-title" type="text" name="mainclass" value="${c.mainclass}"/>
        </div>
      </div>

      <py:if test="c.data">      
        <div class="control-group">
          <label class="control-label">File Name</label>
          <div class="controls">
            <a href="/dataset/extractor/${c.pkg.name}/transformation_download" target="_blank">${c.filename}</a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Time Stamp</label>
          <div class="controls">
            ${c.timestamp}          
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Enabled</label>
          <div class="controls">
            <py:choose>
              <input py:when="c.enabled" type="checkbox" name="enabled" checked="true" />
              <input py:otherwise="" type="checkbox" name="enabled" />
            </py:choose>
          </div>
        </div>
      </py:if>

      <input type="file" name="transformation_code" />
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
        <input id="cancel" class="btn href-action" name="cancel" type="reset" value="Cancel" action="/dataset/${c.pkg.name}" />
      </div>
    </form>

      <py:if test="c.error">
        <b>${c.error_message}</b>
      </py:if>
    </div>

     <form class="form-horizontal" name="launch_transformation" method="post"
      action="/dataset/extractor/${c.pkg.name}/transformation_launch">
      <input class="btn btn-primary" type="submit" name="submit" value="Launch transformation" />
    </form>
  </div>

</html>
