<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div id="dataset" class="dataset">
    <h3>Transformation Configuration</h3>
    <div id="dataset-information">
      <form name="transformation_submission" method="post"
      action="/dataset/extractor/${c.pkg.name}/transformation_submit"
      enctype="multipart/form-data">
      <py:if test="c.data">      
        <b>Main Class:</b> <input type="text" name="mainclass" value="${c.mainclass}"/> <br/>
        <b>Filename:</b> ${c.filename} <br/>
        <b>Timestamp:</b> ${c.timestamp} <br/>
        <br/>
      </py:if>
        <input type="file" name="transformation_code" /> <br/>
        <br/>
        <input type="submit" name="submit" value="Submit" /> <br/>
      </form>

      <py:if test="c.error">
        <b>${c.error_message}</b>
      </py:if>
    </div>
  </div>

</html>
