<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcat="http://www.w3.org/ns/dcat#"
  typeof="dcat:Dataset"
  about=""
  py:strip="">

  <py:def function="page_title">${c.pkg_dict.get('title', c.pkg_dict['name'])}
  - Source Extractor</py:def>

  <py:def function="page_heading" property="dc:title">
    ${c.pkg_dict['title']}
  </py:def>
  
  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>

  <div py:match="content">
    <py:if test="c.pkg_revision_id">
      <div id="revision" class="widget-container">
        <p py:if="c.pkg_revision_not_latest">This is an old revision of this dataset, as edited <!--!by ${h.linked_user(rev.author)}-->at ${h.render_datetime(c.pkg_revision_timestamp, with_hours=True)}. It may differ significantly from the <a href="${h.url(controller='package', action='read', id=c.pkg.name)}">current revision</a>.</p>
        <p py:if="not c.pkg_revision_not_latest">This is the current revision of this dataset, as edited <!--!by ${h.linked_user(rev.author)}-->at ${h.render_datetime(c.pkg_revision_timestamp, with_hours=True)}.</p>
      </div>
    </py:if>

    <xi:include href="read_core.html" />

    <span class="insert-comment-thread"></span>
  </div>

  <py:def function="optional_head">
      <link rel="alternate" type="application/rdf+xml" title="RDF/XML" href="${ h.url_for(controller='package', action='read', id=c.pkg.id, qualified=True)}.rdf" />
  </py:def>

  <py:def function="optional_feed">
  <link rel="alternate" type="application/atom+xml" title="Dataset History"
    href="${h.url(controller='package', action='history', id=c.pkg.name, format='atom', days=7, qualified=True)}" />
  </py:def>

  <xi:include href="layout.html" />
</html>

